- set_meta_tags :title => 'rails best practices questions'

.command
  = link_to 'Question', new_question_path, :class => 'question-button'

%h2 Questions
= render_cell :tab, :question

= render 'questions', :questions => @questions
= render_cell :paginate, :show, @questions
