.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
app/assets/images/css_sprite.png
app/assets/stylesheets/css_sprite.css.scss
public/*.xml.gz
config/database.yml
config/bitly.yml
config/omniauth.yml
config/memcache.yml
*.swp
dump.rdb
tmp/cross-stub.cache
coverage
db/sphinx
log/*.pid
config/*.sphinx.conf
config/mailers.yml
config/sphinx.yml
ERD.pdf
log/newrelic_agent_store.db
.sass-cache/
public/assets/
bin/
coverage/
zeus.json
