= link_to "Sign in with Twitter", "/auth/twitter", :class => 'sign-in-twitter-button', :rel => "nofollow"
= link_to "Login with Facebook", "/auth/facebook", :class => 'sign-in-facebook-button', :rel => "nofollow"
