.comments
  %a{:name => 'comments'}
  - if parent.cached_comments.present?
    %h3 Comments
    - CommentDecorator.decorate_each(parent.cached_comments) do |comment|
      - unless comment.new_record?
        .comment
          %p.info
            = comment.user_avatar
            Posted by
            = comment.user_link
            on
            = comment.created_time
          .content
            .point-to-icon
            .wikistyle= comment.wikistyle_body
