.comments
  - CommentDecorator.decorate_each(comments) do |comment|
    .comment
      = comment.body.gsub("\n", "<br/>")
      %span
        Posted by
        = comment.user_link
        on
        = comment.created_time
      .clear
