.comments
  - comments.each do |comment|
    .comment
      = comment.body.gsub("\n", "<br/>")
      %span
        Posted by
        - if comment.cached_user
          = link_to comment.cached_user.login, user_path(comment.cached_user)
        - else
          = comment.username
        on
        = l comment.created_at
      .clear
