- set_meta_tags :title => 'search result', :noindex => true

%h2 Search Result for Rails Best Practices
- if @posts.empty?
  .empty No Such Rails Best Practices
- else
  .posts= render @posts
= paginate @posts, :param_name => 'posts_page'
.clear{:style => "height:20px;"}

%h2 Search Result for Questions
= render 'questions/questions', :questions => @questions
= paginate @questions, :param_name => 'questions_page'
