@import "compass/utilities/lists/bullets";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/general/float";
@import "compass/css3/inline-block";

@mixin navs {
  height: 30px;
  @include no-bullets;
  @include float-right;
  li {
    font-size: 12px;
    padding: 0 10px;
    margin: 4px 10px 0 0;
    border: 1px solid #9e9e9e;
    height: 25px;
    line-height: 25px;
    @include float-left;
    &.active {
      font-weight: bold;
      border-bottom: 1px solid #fff;
    }
    a.arrow-down-icon, a.arrow-up-icon {
      @include inline-block;
      padding-left: 20px;
      line-height: 16px;
    }
    a.created_at {
      width: 50px;
    }
    a.vote_points {
      width: 40px;
    }
    a.comments_count {
      width: 70px;
    }
    a.answers_count {
      width: 60px;
    }
  }
}
