.blog-section= link_to 'Subscribe to our team blog', 'http://feeds.feedburner.com/rails-bestpractices-team-blog', :class => 'blog-rss-icon'
.blog-section
  %h3 Recent Blog Post
  - @recent_blog_posts.each do |post|
    %ul
      %li= link_to post.title, blog_post_path(post)
