<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"
       addthis:url="http://rails-bestpractices.com"
       addthis:title="Rails Best Practices"
       addthis:description="rails, ruby on rails, best practices, tips, tricks">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<!-- AddThis Button END -->
