@import "partials/wikistyle";

.blog_post {
  margin-bottom: 40px;
  h2 {
    font: 20px verdana;
    margin-bottom: 10px;
  }
  .author {
    font-size: 16px;
    img {
      border: 1px solid #ccc;
      padding: 1px;
    }
  }
  .comments_count {
    margin: 10px 0 0 0;
  }
  .body {
    @include wikistyle;
  }
}
