@import "partials/wikistyle";
@import "partials/adsense";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";

.post {
  margin: 15px 0;
  .post-info {
    @include float-left;
    width: 630px;
  }
  .description {
    background-color: #e7f2fd;
    min-height: 50px;
    margin: 9px 0;
    width: 580px;
    position: relative;
    @include inline-block;
    @include border-bottom-radius(5px);
    @include border-top-right-radius(5px);
    .point-to-icon {
      position: absolute;
      top: -9px;
      left: 0;
    }
    p {
      margin: 5px 20px;
    }
  }
  .wikistyle {
    @include wikistyle;
  }
  .related_posts {
    margin-top: 10px;
    strong {
      font-size: 18px;
    }
    ul {
      li {
        margin-left: 10px;
        line-height: 24px;
      }
    }
  }
  .adsense {
    @include adsense;
  }
  .prev_next {
    @include clearfix;
    margin: 20px 0;
    .next {
      @include float-right;
    }
  }
}
.implemented {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  background-color: #fd9800;
  color: #fff;
  display: block;
  @include float-right;
}
.posts {
  &.archive .post {
    min-height: 10px
  }
  .render-post {
    @include clearfix;
    border-bottom: 1px dotted #b7b7b7;
    .stat {
      @include float-left;
      width: 100px;
      margin-top: 20px;
      text-align: right;
      p {
        font-size: 14px;
        line-height: 20px;
        color: #616161;
      }
    }
    .content {
      @include float-left;
      width: 410px;
      padding: 10px 20px;
      font-size: 12px;
      .title {
        a {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .description {
        padding: 5px 0;
        color: #727272;
        line-height: 18px;
        min-height: 10px;
      }
    }
    .author {
      @include float-left;
      width: 80px;
      margin-top: 50px;
      font-size: 12px;
    }
    .avatar {
      @include float-left;
      width: 50px;
      margin-top: 40px;
      img.user-avatar {
        padding: 2px;
        border: 1px solid #eee;
      }
    }
  }
}
