@import "compass/utilities/lists/bullets";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";

#sidebar {
  @include float-right;
  margin-right: 30px;
  width: 220px;
  h3 {
    font: 14px verdana;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .posts-section {
    margin: 20px 0;
    line-height: 2;
  }
  .tag-section {
    margin-top: 20px;
    ul {
      padding: 0;
      @include no-bullets;
      @include clearfix;
      li {
        @include float-left;
        margin: 5px;
      }
    }
  }
  .static-section {
    margin-top: 10px;
    p {
      padding: 0 5px;
      line-height: 1.2;
    }
    ol {
      list-style-type: decimal;
    }
    ul {
      list-style-type: disc;
    }
    ol, ul {
      margin: 0 1.5em 0.5em 0;
      padding-left: 3.333em;
      line-height: 1.2;
    }
    ul ul, ul ol, ol ol, ol ul {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  .blog-section {
    margin-top: 1em;
    a.blog-rss-icon {
      font-size: 14px;
      display: block;
      width: 100%;
      line-height: 25px;
      padding-left: 30px;
    }
    ul {
      margin: 0 1.5em 0.5em 0;
      line-height: 1.2;
    }
  }
}
