.comments
  - @comments.each do |comment|
    .comment
      = simple_format(comment.body)
      %span
        Posted by
        - if comment.cached_user
          = link_to comment.cached_user.login, user_path(comment.cached_user)
        - else
          = comment.username
        on
        %abbr.timeago{:title => comment.created_at.getutc.iso8601}= comment.created_at.getutc.iso8601
      .clear
