.navs
  %ul
    %li{:class => nav_class("id")}
      = link_to nav_title("id"), questions_path(:nav => "id", :order => nav_order("id")), :class => nav_order_class("id")
    %li{:class => nav_class("vote_points")}
      = link_to nav_title("vote_points"), questions_path(:nav => "vote_points", :order => nav_order("vote_points")), :class => nav_order_class("vote_points")
    %li{:class => nav_class("answers_count")}
      = link_to nav_title("answers_count"), questions_path(:nav => "answers_count", :order => nav_order("answers_count")), :class => nav_order_class("answers_count")
    %li{:class => nav_class("not_answered")}
      = link_to 'Not Answered', questions_path(:not_answered => true, :nav => 'not_answered')
