- if @post.cached_related_posts.present?
  .related_posts
    %strong related best practices:
    %ul
      - PostDecorator.decorate_each(@post.cached_related_posts) do |post|
        %li= post.link

