- set_meta_tags :title => 'rails best practices list'

.command= link_to 'Share', new_post_path, :class => 'share-button'
%h2 Rails Best Practices
= render_cell :tab, :post

= render 'posts', :posts => @posts
= paginate @posts
