.answer-icon, .arrow-down-icon, .arrow-up-icon, .blog-rss-icon, .close-icon,
.comment-icon, .delete-icon, .dislike-icon.active, .dislike-icon, .home-icon,
.like-icon.active, .like-icon, .minus-sign-icon, .plus-sign-icon, .point-to-icon,
.rss-icon, .search-icon, .search-label, .sign-in-facebook-button, .sign-in-twitter-button,
.twitter-icon {
  background: url('/assets/css_sprite.png?1300623283') no-repeat;
}
.answer-icon {
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
 }
.arrow-down-icon {
  background-position: 0px -21px;
  width: 16px;
  height: 16px;
 }
.arrow-up-icon {
  background-position: 0px -42px;
  width: 16px;
  height: 16px;
 }
.blog-rss-icon {
  background-position: 0px -63px;
  width: 24px;
  height: 24px;
 }
.close-icon {
  background-position: 0px -92px;
  width: 16px;
  height: 16px;
 }
.comment-icon {
  background-position: 0px -113px;
  width: 16px;
  height: 16px;
 }
.delete-icon {
  background-position: 0px -134px;
  width: 16px;
  height: 16px;
 }
.dislike-icon.active {
  background-position: 0px -155px;
 }
.dislike-icon {
  background-position: 0px -184px;
  width: 40px;
  height: 24px;
 }
.home-icon {
  background-position: 0px -213px;
  width: 12px;
  height: 11px;
 }
.like-icon.active {
  background-position: 0px -229px;
 }
.like-icon {
  background-position: 0px -258px;
  width: 40px;
  height: 24px;
 }
.minus-sign-icon {
  background-position: 0px -287px;
  width: 16px;
  height: 16px;
 }
.plus-sign-icon {
  background-position: 0px -308px;
  width: 16px;
  height: 16px;
 }
.point-to-icon {
  background-position: 0px -329px;
  width: 10px;
  height: 9px;
 }
.rss-icon {
  background-position: 0px -343px;
  width: 24px;
  height: 24px;
 }
.search-icon {
  background-position: 0px -372px;
  width: 17px;
  height: 17px;
 }
.search-label {
  background-position: 0px -394px;
  width: 68px;
  height: 25px;
 }
.sign-in-facebook-button {
  background-position: 0px -424px;
  width: 154px;
  height: 22px;
 }
.sign-in-twitter-button {
  background-position: 0px -451px;
  width: 151px;
  height: 24px;
 }
.twitter-icon {
  background-position: 0px -480px;
  width: 24px;
  height: 24px;
 }
